.ui_container_button {
	&.preset_size {
		&_sm {
			height: 30px;
		}

		&_md {
			height: 40px;
		}

		&_lg {
			height: 50px;
		}
	}

	&.preset_bg {
		&_primary {
			background-color: blue;
		}

		&_secondary {
			background-color: lightgray;
		}
	}
}
